.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(135, 138, 164);
  border: 0.2rem solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
}

button {
  background-color: rgb(194, 197, 230);
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
}
